/* Theme imports */
/* Import all theme CSS files */

@import './themes/tokyonight.css';
@import './themes/dracula.css';
@import './themes/nord.css';
@import './themes/catppuccin.css';
@import './themes/retro.css';
@import './themes/github.css';
/* Wild themes */
@import './themes/synthwave.css';
@import './themes/gruvbox.css';
@import './themes/rosepine.css';
@import './themes/everforest.css';
@import './themes/kanagawa.css';
@import './themes/solarized.css';
